<nav class="navbar navbar-expand-md bg-dark navbar-dark ">
	<a class="navbar-brand" (click)="onNavigateHome()">Bootleg Wine Reviews</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
		aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">

			<li class="nav-item">
				<a class="nav-link" (click)="onNavigate($event)">Country</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" (click)="onNavigate($event)">Variety</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" (click)="onNavigate($event)">Critic</a>
			</li>
		</ul>
		<div class="search-container">
			<div class="form-inline"> 
				<input class="form-control mr-sm-2" [(ngModel)]="searchTerm" type="search" placeholder="Search" maxlength="50" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" (click)="onSearch()">Search</button>
			</div>
		</div>
	</div>
</nav>