<div class="container" style="margin-top: 30px">

	<div class="jumbotron text-center">
		<h1>{{ browsingCriteria | uppercase }}</h1>
		<p>{{ subheading }}.</p>
	</div>

	<!-- View for normal criteria list (tasters, countries, and some varieties) -->
	<div class="col" *ngIf="!this.longView">
		<div class="row mt-1" *ngIf="this.fullList.length > 20">
			Not all {{this.browsingCriteria }} listed... 
			<a class="varietyLink ml-1" (click)="this.longView = true"> Click here to see all {{ this.browsingCriteria }}.</a>
			<hr>
		</div>
		<div class="row cardList">
			<div *ngFor="let browseItem of browseItems; index as i">
				<div *ngIf="browseItem.value != null" class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title countryName" (click)="onChooseCriteria(browseItem.value)">{{ browseItem.value }}</h5>
						<h6 class="card-subtitle mb-2 text-muted">Reviews: {{ browseItem.numReviews }}</h6>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- View for full variety list -->
	<div class="col" *ngIf="this.longView">
		<a class="varietyLink ml-1" (click)="this.longView = false"> Click here to see most popular {{ this.browsingCriteria }}.</a>
		<div class="row cardList">
			<ul>
				<li *ngFor="let browseItem of fullList">
					<a routerLink="" (click)="onChooseCriteria(browseItem.value)">{{ browseItem.value }}</a>
				</li>
			</ul>
		</div>
	</div>

</div>