.cardList {
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 0px;
	justify-content: center;
}

.card {
	margin: 10px;
	height: fit-content;
}

.countryName {
	color: blue;
}

.countryName:hover {
	text-decoration: underline;
	cursor: pointer;
}
