<div class="container" style="margin-top: 15px;">
	<div class="col">

		<div class="card-text">
			<h5 class="card-header">What is this?</h5>
			<div class="card-body">
				<p> Nouveau Vin is an Angular application for browsing professional wine reviews. The back end is
					comprised of an Express/Node server and MariaDB (MySQL).
					<br><br>
					This project was inspired by a school group project created in Spring 2019. The old project was also
					an application (AngularJS) for browsing wine reviews.
					It also used an earlier version of Express/Node, and MariaDB.
					It provided some basic querying functionality, with unoptimized sorting and searching, as well as a
					skeleton for browsing by a single feature.
					Despite the visions for more functionality, nothing further was developed by our team after the
					spring term.
					<br><br>
					Check out the Github page <a href="https://github.com/nkfoss/Nouveau-Vin" target="_empty">here</a>.
				</p>
			</div>
		</div>

	
			<div class="card-text">
				<h5 class="card-header">The Data</h5>
				<div class="card-body">
					<p> The data contains over 100,000 reviews from professional wine critics and was acquired from
						<a href="https://www.kaggle.com/zynicide/wine-reviews" target="_empty">Kaggle</a>. The data set
						and my representation of it are
						available under the Creative Commons license <a
							href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">BY-NC-SA 4.0</a>.
					</p>
				</div>
			</div>
	

		
			<div class="card-text">
				<h5 class="card-header">The Reviews</h5>
				<div class="card-body row">
					<div class="col-5">
						<p> Each review card is headlined with the rating of the wine (out of 100 points), the winery,
							vintage, and designation. Below this is province/country of the winery
							and the estimated price per bottle.
							<br><br>
							The critic's description of the wine is in the middle. Below that is the name of the
							critic and their Twitter handle (if any). Clicking the buttons will navigate you to reviews
							by that critic
							and to their Twitter feed, respectively.
							<br><br>
							The reviews can vary considerably in content. In addition to Twitter handles, some reviews
							are without an estimated
							price or province, while others vary in the format of the title altogether. However, most of
							the reviews follow the
							outlined format.
						</p>
					</div>
					<div class="col offset-1">
						<div class="card" style="width: 18rem;">
							<h5 class="card-header">
								<span class="points" title="99 / 100 points">99</span>
								Top Winery 2018 Burja Noir Pinot Noir
								<div>
									<span class="location">
										Bordeaux, France
									</span>
									<span class="price">$20 </span>
								</div>
							</h5>
							<div class="card-body">
								<h6 class="card-content mb-2 text-muted"> Description is lorem ipsum dolor sit amet,
									consectetur adipiscing elit. Nunc pulvinar suscipit aliquam. Fusc
									e turpis tortor, ultrices nec vehicula quis, tristique vel ante. </h6>
							</div>
							<div class="card-footer">
								<div class="btn-group" role="group" aria-label="Basic example">
									<button type="button" class="btn btn-primary"
										(click)="onBrowseCritic('Virginie Boone')">Virginie Boone</button>
									<button type="button" class="btn btn-secondary handle">
										<a href="http://twitter.com/vboone" target="_blank">
											@vboone
										</a>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--card-text-->
	



	</div>
</div>